body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
	color:	#5A5350;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 18px;
	background-color: rgba(232,221,203,.2);
}
h1,h2,h3,h4,h5,h6,p
{
	font-family: 'Alegreya Sans', sans-serif;
}
.heading
{
	font-size: 60px;
	font-family: 'Covered By Your Grace', cursive;
}
.header-image {
	background: url(../images/image1.jpg);/* Use a tiling background image or a full width image - if you're using full width you will need to change no-repeat center center cover  */
	background-size: cover;
	background-position: top;
	height: auto;
	display: block;
	width: 100%;
	text-align: center;
}
.navbar-nav > li > a
{
	font-size: 20px;
}
.navbar-header > a
{
	font-size: 24px;
	font-weight: bold;
}


.navbar-default {
    background-color: #033649;
    border-color: #031634;
}
.navbar-default .navbar-brand {
    color: #E8DDCB;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #E8DDCB;
}
.navbar-default .navbar-nav > li > a {
    color: #E8DDCB;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #E8DDCB;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #E8DDCB;
    background-color: #031634;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #E8DDCB;
    background-color: #031634;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #E8DDCB;
    border-bottom-color: #E8DDCB;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #E8DDCB;
    border-bottom-color: #E8DDCB;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #E8DDCB;
    border-bottom-color: #E8DDCB;
}
.navbar-default .navbar-toggle {
    border-color: #031634;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #031634;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #E8DDCB;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #E8DDCB;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #E8DDCB;
    }
}



.headline {
	padding: 120px 0;
}

.headline > .container > h1 {
	font-size: 80px;
	background: #ffffff;
	font-family: 'Fascinate Inline', cursive;	
	background: rgba(255, 255, 255,0);
	text-shadow:1px 1px white ;
}
.headline > .container > h1>small {
	font-size: 35px;
	font-family: 'Pacifico', cursive;
}

.headline > .container > h2 {
	font-size: 50px;
	background: #ffffff;
	font-family: 'Covered By Your Grace', cursive;
	background: rgba(255, 255, 255,0);
	text-shadow:1px 1px white ;

}

.featurette-divider {
	margin: 80px 0;
}
.featurette {
	overflow: hidden; 
}

.featurette-image.pull-left {
	margin-right: 40px;
}
.featurette-image.pull-right {
	margin-left: 40px;
}

.featurette-heading {
	font-size: 50px;
}

footer {
	margin: 50px 0;
}

/* RESPONSIVE CSS */

@media (max-width: 1200px) {

.headline > .container > h1 {font-size: 140px;}
.headline > .container > h2 {font-size: 63px;}
.featurette-divider {margin: 50px 0;}
.featurette-image.pull-left {margin-right: 20px;}
.featurette-image.pull-right {margin-left: 20px;}
.featurette-heading {font-size: 35px;}

}

@media (max-width: 991px) {

.headline > .container > h1 {font-size: 105px;}
.headline > .container > h2 {font-size: 50px;}
.featurette-divider {margin: 40px 0;}
.featurette-image {max-width: 50%;}
.featurette-image.pull-left {margin-right: 10px;}
.featurette-image.pull-right {margin-left: 10px;}
.featurette-heading {font-size: 30px;}

}

@media (max-width: 768px) {
	
.container {margin: 0 15px;}
.featurette-divider {margin: 40px 0;}
.featurette-heading {font-size: 25px;}

}


@media (max-width: 668px) {

.headline > .container > h1 {font-size: 70px;}
.headline > .container > h2 {font-size: 32px;}
.featurette-divider {margin: 30px 0;}

}

@media (max-width: 640px) {

.headline {padding: 75px 0 25px 0;}
.headline > .container > h1 {font-size: 60px;}
.headline > .container > h2 {font-size: 30px;}

}

@media (max-width: 375px) {

.featurette-divider {margin: 10px 0;}
.featurette-image {max-width: 100%;}
.featurette-image.pull-left {margin-right: 0; margin-bottom: 10px;}
.featurette-image.pull-right {margin-left: 0; margin-bottom: 10px;}





